<div class="row mand_choose">Required to Choose only
	one：<%=groupName%></div>
<div class="row select-one">
	<%_.each(mandatoryone,function (one,index,mandatoryone){%>
	<div class="col-md-3 col-sm-3">
		<%if(index === 0){%>
		<div class="panel panel-default js-one-panel <%=indexss%> active"
			data-offer-id="<%=one.offerId%>"
			data-offer-groupid="<%=one.offerGroupId%>"
			data-index-step="<%=indexss%>" data-eff-type="<%=one.effType%>"
			data-pro-necessary="1" data-group-type="B">
			<div class="panel-heading"><a class="head_a"><%=one.offerName%></a></div>
			<div class="panel-body">
				<div class="cabin-info">
					<span class="highlight"><%=one.comments%></span>
				</div>
				<%if(one.offerAttrList){if(one.offerAttrList.attrValueDtoList&&one.offerAttrList.inputType===1){%><%=one.offerAttrList.attrName%><select
					class="form-control cabin-select" name="time">
					<%if(one.offerAttrList.nullable === 'Y'){%>
					<option value=""></option> <%}%>
					<%_.each(one.offerAttrList.attrValueDtoList,function(attr){%>
					<option value="<%=attr.attrId%>,<%=attr.value%>"><%=attr.valueMark%></option>
					<%})%>
				</select> <%}}%>
				<div class="cabin-btn">✔</div>
			</div>
		</div>
		<%}else{%>
		<div class="panel panel-default js-one-panel <%=indexss%>"
			data-offer-id="<%=one.offerId%>"
			data-offer-groupid="<%=one.offerGroupId%>"
			data-index-step="<%=indexss%>" data-eff-type="<%=one.effType%>"
			data-pro-necessary="1" data-group-type="B">
			<div class="panel-heading"><a class="head_a"><%=one.offerName%></a></div>
			<div class="panel-body">
				<div class="cabin-info">
					<span class="highlight"><%=one.comments%></span>
				</div>
				<%if(one.offerAttrList){if(one.offerAttrList.attrValueDtoList&&one.offerAttrList.inputType===1){%><%=one.offerAttrList.attrName%><select
					class="form-control cabin-select" name="time">
					<%if(one.offerAttrList.nullable === 'Y'){%>
					<option value=""></option> <%}%>
					<%_.each(one.offerAttrList.attrValueDtoList,function(attr){%>
					<option value="<%=attr.attrId%>,<%=attr.value%>"><%=attr.valueMark%></option>
					<%})%>
				</select> <%}}%>
				<div class="cabin-btn">Choose</div>
			</div>
		</div>
		<%}%>
	</div>
	<%})%>
</div>


	<script>
	$(function() {
	    var maxheight = 0;
	    var this_maxdiv;
	    $(".select-one").find(".col-md-3").each(function() {
	        if ($(this).height() > maxheight) {
	            maxheight = $(this).height();
	            this_maxdiv = $(this);
	        };
	    });

	    $(this_maxdiv).parent().find(".col-md-3").each(function() {
	        $(this).find(".panel").height(maxheight - 22);
	    });

	})
    </script>
