<div class="group-section">
<%if(members ==undefined ) {%>
	<div class="group-fbox">
		<div class="group-box group-chice">
				<div class="group-title">
					<input type="text" class="group-input groupName" id="group-name" value="Group 1">
				</div>
				<div class="group-content">
					<input type="text" class="group-input groupNum" value="10">
				</div>
		</div>
	</div>
	<div class="group-fbox">
		<div class="group-box group-chice">
			<div class="group-title">
				<input type="text" class="group-input groupName" id="group-name" value="Group 2">
			</div>
			<div class="group-content">
				<input type="text" class="group-input groupNum" value="10">
			</div>
		</div> 
	</div>
	<%}else{%>
	<%_.each(members,function(member,index){%>
	<div class="group-fbox">
		<div class="group-box group-chice">
			<div class="group-title">
				<input type="text" class="group-input groupName" id="group-name" value="Group <%=index+1%>">
			</div>
			<div class="group-content">
				<input type="text" class="group-input groupNum" value="<%=members[index].groupPerNum%>">
			</div>
		</div> 
	</div>
	<%})}%>
	<div class="group-box empty add">Add Group</div>
<!-- 	<div class="group-box empty delete">Delete Group</div> -->
</div>
<script>
$(function(){
	$("body").delegate('.group-fbox', 'hover', function(event) {
 		$(this).prepend('<span class="close-group ">×</span>')
	});
	$("body").delegate('.group-fbox', 'mouseleave', function(event) {
 		$(this).find('.close-group').remove();
 		var groupFboxList = $(".group-fbox");
 		_.each(groupFboxList,function(groupFbox,index){
 			$(groupFbox).find(".groupName").val("Group "+(index+1));
 		});
	});
	$("body").delegate('.close-group', 'click', function(event) {
 		$(this).parents('.group-fbox').remove();
	});

});
</script>
