<section class="row index">
    <div class="col-sm-6 col-md-6 col-">
        <div class="thumbnail">
            <a class="btn btn-link" href="#choose/offer">
                <img src="img/buy.png" alt="Buy">
                <div class="caption">
                    <h3>I want to buy</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <a class="btn btn-link js-link">
                <img src="img/migrate.png" alt="Migrate">
                <div class="caption">
                   <h3>I want to migrate</h3>
                </div>
            </a>
        </div>
    </div>
</section>
