<div class="row mand_choose">you have to choose multiple</div>
<div class="row container offerGroup">
	<% _.each(offerDtoList, function(offerDto, index, offerDtoList){ %> <%
	if(index === 0){%>
	<div class="col-sm-3 col-md-3">
		<div
			class="panel panel-default panel-bundle manda-multi-option <%=tempIndex%> active"
			data-offer-id="<%= offerDto.offerId %>"
			data-eff-type="<%=offerDto.effType%>"
			data-tempindex="<%=tempIndex%>">
			<div class="panel-heading"><a class="head_a"><%= offerDto.offerName %></a></div>
			<div class="panel-body">
				<!-- 		    <h2 class="h"><%= offerDto.offerGroupType %></h2> -->
				<b class="b"><%= offerDto.comments %></b>
			</div>
		</div>
	</div>
	<% }else {%>
	<div class="col-sm-3 col-md-3">
		<div
			class="panel panel-default panel-bundle manda-multi-option <%=tempIndex %>"
			data-offer-id="<%= offerDto.offerId %>"
			data-eff-type="<%=offerDto.effType%>" data-tempindex="<%=tempIndex%>">
			<div class="panel-heading"><a class="head_a"><%= offerDto.offerName %></a></div>
			<div class="panel-body">
				<!-- 		    <h2 class="h"><%= offerDto.offerGroupType %></h2> -->
				<b class="b"><%= offerDto.comments %></b>
			</div>
		</div>
	</div>
	<% }%> <% }) %>
</div>
