<div class="panel-body">
	<div class="row">
		<%_.each(subs,function(sub,index, subs){%>
		<div class="row subscriber-list">
			<div class="col-md-12">
				<div class="col-md-12">
					<span class="subs-number"><%=sub.accNbr%></span>
				</div>
				<div class="col-md-6">
					<p>
						<span>Status:</span> <span><%=sub.prodStateName%></span>
					</p>
				</div>
				<div class="col-md-6">
					<p>
						<span>Subscriber plan:</span> <span><%=sub.subsPlanName%></span>
					</p>
				</div>
				<%if(sub.completedDate){%>
				<div class="col-md-6">
					<p>
						<span>serivce start Date: </span> <span><%=sub.completedDate%></span>
					</p>
				</div>
				<%}%>
				<%if(sub.prodExpDate){%>
				<div class="col-md-6">
					<p>
						<span>serivce end Date: </span> <span><%=sub.prodExpDate%></span>
					</p>

				</div>
				<%}%>
			</div>
			<div class="col-md-12  acc-step step-footer">
				<a class="btn btn-step js-next" data-index="<%=index%>"
					data-subs-id="<%=sub.subsId%>">Change plan</a>
			</div>
		</div>
		<%})%>
	</div>

</div>
<div class="row step-footer"></div>

