<div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>
                	 Continue to prev, you will change the package，all the information will be erased.
      			</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary Cancel" >cancel</button>
                <button type="button" class="btn btn-default Ok">Continue Prev</button>
</div>
