<div class="col-sm-12 col-md-12 step-header">
    <span class="step-info">STEP <b>7 </b> OF <b>7</b></span>
    <span class="step-detail">PAYMENT</span>
</div>
<div class="panel-body">
    <div class="row payment">
        <div class="col-md-6">
            <form action="">
                <fieldset>
                    <p class="payment_title"> Select your payment method</p>
                    <div class="fow">
                        <select class="send_type">
                            <option>Pay by Credit card</option>
                            <option>Send by SMS</option>
                            <option>Send by Email</option>
                            <option>Send by SMS</option>
                        </select>
                    </div>
                    <div class="fow">
                        <select class="send_type">
                            <option>select Card type</option>
                            <option>Send by SMS</option>
                            <option>Send by Email</option>
                            <option>Send by SMS</option>
                        </select>
                    </div>
                    <div class="fow">
                        <input type="text" required="" name="CardNumber" class="" value="" placeholder="Card Number">
                    </div>
                    <div class="fow select_time">
                        <div class="col-md-4 ">
                            <input type="text" required="" name="Expirationdate" class="expir_date" value="" placeholder="Expiration date">
                        </div>
                        <div class="col-md-4">
                            <select class="select_date">
                                <option> Month </option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="select_date">
                                <option> Year </option>
                                <option>1988</option>
                                <option>1987</option>
                                <option>2986</option>
                            </select>
                        </div>
                    </div>
                    <div class="fow">
                        <div class="tips2" id="tips22"></div>
                        <input type="text" required="" name="CVV2" class="CVV2tips" value="" placeholder="CVV2">
                    </div>
                    <div class="fow">
                        <input type="text" required="" name="Cardname" class="" value="" placeholder="name on Card">
                    </div>

                </fieldset>

            </form>
        </div>
        <div class="col-md-5">
            <div class="pay_detail">
                <p>Here is your bill </p>
                <p> <span>user Type</span>
                    <span>Family </span> </p>
                <p> <span>Package</span>
                    <span>Freshness family plan</span>
                    <span class="cri_price">  € 509</span>
                </p>
                <p> <span>Bundle</span>
                    <span>Date bundle 10GB</span>
                    <span class="cri_price">  Free</span> </p>
                <p> <span>subscriber subtoatl </span>
                    <span class="cri_price">  € 509</span>
                </p>
                <hr>
                <span>Total:</span> <span class="cri_price">  € 509</span>
            </div>
        </div>
    </div>
</div>
<div class="row step-footer">
    <a class="btn btn-step" href="javascript: history.back()">Prev</a>
    <a class="btn btn-step" href="#payment">Pay now</a>
</div>
