<div class="col-sm-12 col-md-12 step-header">
    <span class="step-info">STEP <b>6</b> OF <b>7</b></span>
    <span class="step-detail">PLEASE CHECK YOUR ORDER</span>
</div>

<div class="panel-body regist_bg">
    <p class="order_txt"> Below you will find a summary of your order. You can modify you order in the bill.
    </p>
    <div class="row">
        <div class="col-md-12">
            <div class="oder_detail">
                <p><span>User Type</span> <span> Family</span> </p>
            </div>
            <div class="subscriber eshop">
                <h5>Package</h5>
                <table class="table table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Plan</th>
                            <th>Product</th>
                            <th>One-off Charge</th>
                            <th>Recurring Charge </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr1">
                            <td rowspan="2">
                                <div class="subs_td1">
                                    Freshness family
                                </div>
                            </td>
                            <td valign="bottom">
                                <span class="subs_td2">Data 10GB</span>
                                <i class="update_subsc modify" data-index="<%=(index)%>" data-index-step="2">
                          </i>
                            </td>
                            <td class="subs_td3">
                                <p class="p_title">
                                    <span>Pre-tax Price</span>
                                    <span>Tax</span>
                                    <span>Price including Tax</span>
                                </p>
                                <p>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>


                            </td>
                            <td class="subs_td3">
                                <p class="p_title">
                                    <span>Pre-tax Price</span>
                                    <span>Tax</span>
                                    <span>Price including Tax</span>
                                </p>
                                <p>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>

                            </td>
                        </tr>

                        <tr class="tr2">
                            <td colspan=2 class="subs_td4">
                                <p>
                                    <span class="un-pirce">Unit-pirce</span>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>
                            </td>
                            <td class="subs_td3">
                                <p>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="subscriber eshop">
                <h5>Subscriber</h5>
                <table class="table table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Plan</th>
                            <th>Product</th>
                            <th>One-off Charge</th>
                            <th>Recurring Charge </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr1">
                            <td rowspan="2">
                                <div class="subs_td1">
                                    Freshness family
                                </div>
                            </td>
                            <td valign="bottom">
                                <span class="subs_td2">Data 10GB</span>
                                <i class="update_subsc modify" data-index="<%=(index)%>" data-index-step="2">
                          </i>
                            </td>
                            <td class="subs_td3">
                                <p class="p_title">
                                    <span>Pre-tax Price</span>
                                    <span>Tax</span>
                                    <span>Price including Tax</span>
                                </p>
                                <p>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>


                            </td>
                            <td class="subs_td3">
                                <p class="p_title">
                                    <span>Pre-tax Price</span>
                                    <span>Tax</span>
                                    <span>Price including Tax</span>
                                </p>
                                <p>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>

                            </td>
                        </tr>
                        <tr class="tr2">
                            <td colspan=2 class="subs_td4">
                                <p>
                                    <span class="un-pirce">Unit-pirce</span>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>
                            </td>
                            <td class="subs_td3">
                                <p>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>
                            </td>
                        </tr>


                        <!-- 第2个表格 -->

                        <tr class="tr1">
                            <td rowspan="2">
                                <div class="subs_td1">
                                    Freshness family
                                </div>
                            </td>
                            <td valign="bottom">
                                <span class="subs_td2">Data 10GB</span>
                                <i class="update_subsc modify" data-index="<%=(index)%>" data-index-step="2">
                          </i>
                            </td>
                            <td class="subs_td3">
                                <p class="p_title">
                                    <span>Pre-tax Price</span>
                                    <span>Tax</span>
                                    <span>Price including Tax</span>
                                </p>
                                <p>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>


                            </td>
                            <td class="subs_td3">
                                <p class="p_title">
                                    <span>Pre-tax Price</span>
                                    <span>Tax</span>
                                    <span>Price including Tax</span>
                                </p>
                                <p>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>

                            </td>
                        </tr>

                        <tr class="tr2">
                            <td colspan=2 class="subs_td4">
                                <p>
                                    <span class="un-pirce">Unit-pirce</span>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>
                            </td>
                            <td class="subs_td3">
                                <p>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>
                            </td>
                        </tr>


                        <!-- 第3个表格 -->


                        <tr class="tr1">
                            <td rowspan="2">
                                <div class="subs_td1">
                                    Freshness family
                                </div>
                            </td>
                            <td valign="bottom">
                                <span class="subs_td2">Data 10GB</span>
                                <i class="update_subsc modify" data-index="<%=(index)%>" data-index-step="2">
                          </i>
                            </td>
                            <td class="subs_td3">
                                <p class="p_title">
                                    <span>Pre-tax Price</span>
                                    <span>Tax</span>
                                    <span>Price including Tax</span>
                                </p>
                                <p>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>


                            </td>
                            <td class="subs_td3">
                                <p class="p_title">
                                    <span>Pre-tax Price</span>
                                    <span>Tax</span>
                                    <span>Price including Tax</span>
                                </p>
                                <p>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>

                            </td>
                        </tr>

                        <tr class="tr2">
                            <td colspan=2 class="subs_td4">
                                <p>
                                    <span class="un-pirce">Unit-pirce</span>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>
                            </td>
                            <td class="subs_td3">
                                <p>
                                    <span> € 509</span>
                                    <span> € 4.00</span>
                                    <span> € 0.40</span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row total ">

                <div class="col-md-12">
                    <div class="col-md-4">
                        <p>
                            This is a price estimate of your One-off Charge
                        </p>
                        <ul>
                            <li>
                                <span> Freshness family Plan</span>
                                <span class="cri_price">  € 509</span>
                            </li>
                            <li>
                                <span>Group1</span>
                                <span>
                          35*
                          <span class="cri_price">  € 11.00</span>
                                <span class="cri_price"> = €309</span>
                                </span>
                            </li>
                            <li>
                                <span>Group2</span>
                                <span>
                          20*
                          <span class="cri_price">  € 11.00</span>
                                <span class="cri_price"> = €309</span>
                                </span>
                            </li>
                            <li>
                                <span>Group3</span>
                                <span>
                          40*
                          <span class="cri_price">  € 221.00</span>
                                <span class="cri_price"> = €309</span>
                                </span>
                            </li>
                        </ul>

                        <div class="col-md-12">
                            <hr>
                            <p><span>Total</span><span class="cri_price" style="float: right;margin-top: -10px;">  € 509</span </p>
                   </div>
                  </div>
                  <div class="col-md-8" style="text-align: right;">
                     <p>
                      This is a price estimate of your Recurring Charge
                    </p>

                    <ul>
                      <li>
                        <span> Freshness family Plan</span>
                                <span class="cri_price">  € 509</span>
                                </li>
                                <li>
                                    <span>Group1</span>
                                    <span>
                          35*
                          <span class="cri_price">  € 11.00</span>
                                    <span class="cri_price"> = €309</span>
                                    </span>
                                </li>
                                <li>
                                    <span>Group2</span>
                                    <span>
                          20*
                          <span class="cri_price">  € 11.00</span>
                                    <span class="cri_price"> = €309</span>
                                    </span>
                                </li>
                                <li>
                                    <span>Group3</span>
                                    <span>
                          40*
                          <span class="cri_price">  € 221.00</span>
                                    <span class="cri_price"> = €309</span>
                                    </span>
                                </li>
                                </ul>

                                <div class="col-md-6" style="float: right;padding-left: 35px;">
                                    <hr>
                                    <p>
                                        <span style="float: left;">Total</span>
                                        <span class="total_price">€ 509</span
                          </p>
                     </div>

                  </div>
              </div>
           </div>


             <div class="row invoice" >
                <div class="col-md-12" >
                  <p> Please select your existing account of <a href="javascript:()">Create new account</a> </p>
               </div>
                <div class="col-md-12 add-account">
                <select class="send_type">
                  <option>0027001234</option>
                  <option>Send by SMS</option>
                    <option>Send by Email</option>
                  <option>Send by SMS</option>
                </select>
                 <div class="p-caret">
                  <span class="caret" style="display: inline-block;"></span>
                                </div>
                        </div>
                        <div class="col-md-12">
                            <p>How would you like to receive your invoice ? </p>
                        </div>
                        <div class="col-md-12">
                            <select class="send_type">
                                <option>Send by Email</option>
                                <option>Send by SMS</option>
                                <option>Send by Email</option>
                                <option>Send by SMS</option>
                            </select>
                            <div class="p-caret">
                                <span class="caret" style="display: inline-block;"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input id="EmailOrSMS" value="zte@zte.com.cn">
                        </div>
                    </div>


                </div>
            </div>









        </div>
        <div class="row step-footer">
            <a class="btn btn-step" href="javascript: history.back()">Prev</a>
            <a class="btn btn-step" href="#payment">Confirm Order</a>
        </div>
