<div class="col-sm-12 col-md-12 step-header">
    <span class="step-info">You Subscriber List:</span>
    <span class="step-detail"></span>
</div>
<div class="panel-body  pl20">
    <div class="row subscriber-list">
        <div class="col-md-12">
            <div class="col-md-12">
                <span class="subs-number">13813896684</span>
                <a class="" href="#plan">Change plan</a>
            </div>
            <div class="col-md-6">
                <p> <span>Status</span> <span>Nomal</span> </p>
            </div>
            <div class="col-md-6">
                <p> <span>Subscrption Plan</span> <span>Qzone for collage 2014</span> </p>
            </div>
            <div class="col-md-6">
                <p> <span>Serivce Start Date </span> <span>2015-03-06</span> </p>
            </div>
            <div class="col-md-6">
                <p> <span>Serivce End Date </span> <span>2016-03-06</span> </p>
            </div>

        </div>
    </div>
    <div class="row subscriber-list mt25">
        <div class="col-md-12">
            <div class="col-md-12">
                <span class="subs-number group-d-list">Group1 <i></i></span>
                <a class="" href="#plan">Change plan</a>
            </div>
            <div class="group-slist col-md-12">
                <div class="col-md-6">
                    <p> <span>Status</span> <span>Nomal</span> </p>
                </div>
                <div class="col-md-6">
                    <p> <span>Subscrption Plan</span> <span>Qzone for collage 2014</span> </p>
                </div>
                <div class="col-md-6">
                    <p> <span>Serivce Start Date </span> <span>2015-03-06</span> </p>
                </div>
                <div class="col-md-6">
                    <p> <span>Serivce End Date </span> <span>2016-03-06</span> </p>
                </div>
            </div>

        </div>
    </div>
    <div class="row subscriber-list mt25">
        <div class="col-md-12">
            <div class="col-md-12">
                <span class="subs-number group-d-list">Group2 <i></i></span>
                <a class="" href="#plan">Change plan</a>
            </div>
            <div class="group-slist col-md-12">
                <div>
                    <ul>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                        <li class="slist-n">
                            13813896694
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p> <span>Status</span> <span>Nomal</span> </p>
                </div>
                <div class="col-md-6">
                    <p> <span>Subscrption Plan</span> <span>Qzone for collage 2014</span> </p>
                </div>
                <div class="col-md-6">
                    <p> <span>Serivce Start Date </span> <span>2015-03-06</span> </p>
                </div>
                <div class="col-md-6">
                    <p> <span>Serivce End Date </span> <span>2016-03-06</span> </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row step-footer">

</div>


<script>
$(function() {
    $("body").delegate('.group-d-list', 'click', function(event) {
        $(this).toggleClass('off');
        $(".group-item").slideToggle("slow");
        $(this).parent("div").next(".group-slist").eq(0).slideToggle("slow")
    });

})
</script>
