@charset "UTF-8";
@import "public";
@import "header";
@import "cabin";
@import "btns";

.page-content {
    //height: $step1h;
    padding-top: $sppt;

    @at-root .step-title {
        width: 100%;
        //height: 50px;
        font-size: 1.9rem;
        color: #000;
        text-align: center;
        line-height: 1.5;
        // @at-root .step-info {
        //     color: $fgrey;
        // }
    }
    @at-root .cabin-section {
        margin-top: 36px;
        @at-root .cabin {
            & + & { margin-left: 28px; }
        }
    }
    @at-root .btn-section {
        margin: 60px auto 0;
    }
}